{% extends "layout.html" %}

{% block content %}
<section class="inprogress">
    <h2 class="section-title dashed">IN PROGRESS</h2>
    <ul class="poll-list">
        {% for s in inprogress %}
        <li>
            <a href="{{ url_for('view', sid=s.id) }}">{{ s.topic }}</a>
        </li>
        {% endfor %}
    </ul>
</section>
<section class="closed">
    <h2 class="section-title dashed">CLOSED</h2> 
    <ul class="poll-list">
        {% for s in closed %}
        <li>
            <a href="{{ url_for('view', sid=s.id) }}">{{ s.topic }}</a>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
