{% extends "layout.html" %}

{% block head %}
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script language="javascript" type="text/javascript">
$(document).ready(function(){
$('#group').change(function(){
  var q=$(this).children('option:selected').val();
  window.location.href="/?q="+q;
  })
})
</script>

{% endblock %}

{% block content %}
<div class="group-list">
    <select id="group">
        <option value ="0">all</option>
        {% for g in groups %}
        <option value ="{{ g.id }}">{{ g.name }}</option>
        {% endfor %}
    </select>
</div>
<!-- <section class="inprogress">
    <h2 class="section-title dashed">IN PROGRESS</h2>
    <ul class="poll-list">
        {% for s in inprogress %}
        <li>
            <a href="{{ url_for('view', sid=s.id) }}">{{ s.topic }}</a>
        </li>
        {% endfor %}
    </ul>
</section>
<section class="closed">
    <h2 class="section-title dashed">CLOSED</h2> 
    <ul class="poll-list">
        {% for s in closed %}
        <li>
            <a href="{{ url_for('view', sid=s.id) }}">{{ s.topic }}</a>
        </li>
        {% endfor %}
    </ul>
    </section>-->
    {% if inprogress %}
    <div class="subtitle">
        <h2>IN PROGRESS</h2>
    </div>
    <ul class="poll-list inprogress">
        {% for s in inprogress %}
        <li><a href="{{ url_for('view', sid = s.id) }}">{{ s.topic }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if closed %}
    <div class="subtitle closed">
        <h2>CLOSED</h2>
    </div>
    <ul class="poll-list closed">
        {% for s in closed %}
        <li><a href="{{ url_for('view', sid = s.id) }}">{{ s.topic }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
