<p>{{ subject.topic }}, <b>{{ votetype(subject.votetype) }}</b></p>
{% if outdate(subject.deadline) %}
    {% for v in votes %}
        <p>{{ v.content }}|{{ v.count }}</p>
    {% endfor %}
{% else %}
    <p> dead time {{ subject.deadline }} </p>
    <form method="post" action="{{ url_for('vote', sid=subject.id) }}" >
        {% for v in votes %}
        <p>
            {{ v.content }} count: {{ v.count }}
            {% if subject.votetype == 1 %}
            <input type="checkbox" name="selected" value="{{ v.id }}">
            {% else %}
            <input type="radio" name="selected" value="{{ v.id }}" />
            {% endif %}
        </p>
        {% endfor %}
        <button type="submit">vote</button>
    </form>
{% endif %}
