{% extends "layout.html" %}

{% macro get_vote_checkbox(votetype, value) %}
{% if votetype == 1 %}
<input type="checkbox" name="selected" value="{{ value }}" />
{% else %}
<input type="radio" name="selected" value="{{ value }}" />
{% endif %}
{% endmacro %}

{% block content %}
<div class="subtitle">
    <span class="r deadline">{{ subject.deadline }}</span>
    <h2>{{ subject.topic }}</h2>
</div>
{% if outdate(subject.deadline) %}
<ul class="poll-options poll-result">
    {% for v in votes %}
    <li class="line poll-option">
    <div class="poll-count" {% if sum %}style="width: {{ v.count / sum * 600 }}px"{% endif %}></div>
        <span class="poll-count-num r">{{ v.count }}</span>
        <label>{{ v.count }}</label>
    </li>
    {% endfor %}
</ul>
<div class="form-action">
    <a href="{{ url_for('index', q=q) }}">Back</button>
</div>
{% else %}
{% if msg %}
<div style="text-align:center;background: red;color:white;"> {{ msg }}</div>
{% endif %}
<form method="post" action="{{ url_for('vote', sid=subject.id) }}" >
    <ul class="poll-options">
    {% for v in votes %}
        <li class="line poll-option">
            <div class="poll-count" {% if sum %}style="width: {{ v.count / sum * 600 }}px"{% endif %}></div>
            <span class="poll-count-num r">{{ v.count }}</span>
            <label>{{ get_vote_checkbox(subject.votetype, v.id) }} {{ v.content }}</label>
        </li>
    {% endfor %}
    </ul>
    <div class="form-action">
        <button type="submit">Vote</button>
    </div>
</form>
{% endif %}
{% endblock %}
